@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap');
:root {
  --primary: #ffc052;
  --negro: #262626;
  --blanco: #FFF;
  --fuente-principal: 'Outfit', sans-serif;
  --fuente-tittles: 'Tangerine', cursive;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  font-size: 2rem;
  font-family: var(--fuente-principal);
  line-height: 1.5;
}

h2 {
  font-size: 4em !important;
  font-family: var(--fuente-tittles);
  font-weight: bold;
}


img {
  max-width: 100%;
}

[class*="contenedor"] {
  max-width: 120rem;
  margin: 0 auto;
  width: 95%;
}
[class*="heading"] {
  font-family: var(--fuente-tittles);
  line-height: 0.9em;
  font-size: 4rem;
  text-align: center;
  color: var(--primary);
  margin: 5rem 0;
  font-weight: bold;
}
